    .form-title{
        font-family: Archivo;
        font-style: normal;
        font-weight: bold !important;;
        font-size: 30px !important;
        line-height: 39px;
        width: 100%;
        text-align: center;
        color: #050505;
    }
  